<% provide(:title, "Edit Group") %>
<% provide(:button_text, "Save changes") %>
<% provide(:action_url, group_path) %>
<h1>Update group information</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'group_form' %>
  </div>
</div>
