<% provide(:title, 'Make group') %>
<% provide(:button_text, 'make a group') %>
<% provide(:action_url, groups_path) %>

<h1>Make group</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'group_form' %>
  </div>
</div>
