<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-12">
    <h3><%= @title %></h3>
    <% if @notifications.any? %>
      <ol class="notifications">
        <%= render @notifications %>
      </ol>
      <%= will_paginate @notifications %>
    <% end %>
  </div>
</div>
